main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.search-form {
  display: flex !important;
}

.showcase-image {
  width: 100%;
}

a {
  text-decoration: none;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-block {
  width: 100%;
}
